.Navbar {
    display:flex;
    flex-direction: row;
    background-color: aqua;
    height:60px;
    width: auto;
    justify-content:center;
}
#profile-link{
margin-top: 10px;
margin-right: 50px;
}

#projects{
    margin-top: 10px;

    }

.Welcomesection {
    
    background-color:black;
    display:flex;
    flex-direction: row;
    align-items: center;

}
#WelcomeA {
    flex: 1;
    background-color: rgb(184, 58, 58);
    height: 100%;
}

#WelcomeB {
    font-size:15px;
    flex: 2;
    background-color: white;
    height: 60px;
}

.project-tile{



}

#brickTile2{


}

#brickTile2{

}